.cookie{
	position: absolute;
	left: 2%;
	top: 2%;
	padding: 50px 50px;
	z-index: 1;
}

.zoneMultiplicateur{
	position: absolute;
	left: 680px;
	top: 2%;
	right: 2%;
	bottom: 2%;
	padding: 210px;
	background-color: lightgrey;
	z-index: 1;
}

.titre{
	position: absolute;
	left: 20%;
	top: 75%;
	right: 30%;
	z-index: 1000;
}

body{
	background-image: url(img/fond.jpg);
	background-size: cover;
}
