
html{
  cursor: url('http://icon-icons.com/icons2/489/PNG/72/1449800296_christmas-icon-cookie_47784.png'), pointer; 
}

.cookie{
	position: absolute;
  left: 28%;
	top: 10%;
	padding: 50px 50px;
	z-index: 1;
  cursor: url('http://icon-icons.com/icons2/489/PNG/72/1449800296_christmas-icon-cookie_47784.png'), pointer; 
}

.zoneMultiplicateur{
	position: absolute;
	left: 2%;
	top: 15%;
	bottom: 30%;
	z-index: 1;
	border-radius: 30px;
  cursor: url('http://icon-icons.com/icons2/489/PNG/72/1449800296_christmas-icon-cookie_47784.png'), pointer; 
}

.titre{
	position: absolute;
	left: 25%;
	top: 75%;
	right: 30%;
	z-index: 1000;
  cursor: url('http://icon-icons.com/icons2/489/PNG/72/1449800296_christmas-icon-cookie_47784.png'), pointer; 
}





.button {
    position: relative;
    top: 20%;
    background-color: #4CAF50;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
   
    margin: right;
    cursor: url('http://icon-icons.com/icons2/489/PNG/72/1449800296_christmas-icon-cookie_47784.png'), pointer; 
}

.button:after {
    cursor: url('http://icon-icons.com/icons2/489/PNG/72/1449800296_christmas-icon-cookie_47784.png'), pointer; 
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    cursor: url('http://icon-icons.com/icons2/489/PNG/72/1449800296_christmas-icon-cookie_47784.png'), pointer; 
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#buttonanim {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px transparent;
  cursor: url('http://icon-icons.com/icons2/489/PNG/72/1449800296_christmas-icon-cookie_47784.png'), pointer; 
}

#buttonanim:hover {background-color: transparent}

#buttonanim:active {
  background-color: transparent;
  box-shadow: 0 5px transparent;
  transform: translateY(4px);
  cursor: url('http://icon-icons.com/icons2/489/PNG/72/1449800296_christmas-icon-cookie_47784.png'), pointer; 
}




p{
    font-size:40px;
    color: lightgreen;
    cursor: url('http://icon-icons.com/icons2/489/PNG/72/1449800296_christmas-icon-cookie_47784.png'), pointer; 
}


video#bgvid{
  position: fixed;right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(fond.jpg) no-repeat;
  background-size: cover;
}




header{

  left: 0%;
  right: 0%;
  background-color: #4CAF50;
}


article{
  display: block;
  top: 20%;
  text-align: center;
}